form{
    background: lightblue;
    padding: 5px;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

#input{
    flex-grow: 1;
}

#messages{
    list-style-type: none;
}

#messages > li:nth-child(odd){
    background: lightgrey;
}