<%- include("header", {}) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<<<<<<< HEAD
    <link rel='stylesheet' href='socket/chat.css' />
    <script src="socket/chat.js" defer></script>
=======
    <link rel='stylesheet' href='/stylesheets/chat.css' />
>>>>>>> 772df81b72b8c76b18dc47e7df9d3079b2a8b7f7
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/javascripts/chat.js" defer></script>
    
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="form">
        <input id="input">
        <button>Send</button>
    </form>
  </body>
</html>