<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="images">
      <p> <%= descripcion %></p>
      <img src="/images/jotaro.jpeg" alt="jotaro"> 
      <img src="/images/musashi.jpeg" alt="musashi"> 
      <img src="/images/toji.jpeg" alt="toji"> 
    </div>
    <a href="/login">Login</a>
    
  </body>
</html>
