<!-- views/login.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <label for="username">Enter username:</label>
    <input type="text" id="username" name='Username'></input><br>
    <label for="password">Enter password:</label>
    <input type="password" id="password" name="Password"></input><br>
    <button id="Enter">Enter</button>
  </body>
</html>
